//=====Normalize
@import './normalize.scss';

* {
  box-sizing: border-box;
}

//=====COLORS
$color-background: #141513;
$color-text: #00eaff;
$color-text_success: #3d8623;
$color-text_inactive: #636360;
$color-table: #113811;
$color-button: #282c34;
$color-button_hover: #222428;
$color-button_active: #1c3334;
$color-button_exit: #f5060670;
$color-nicks: #99791a;
$color-title: #0d1012;
$color-numbers: #2093a7;
$color-block-form: #00000050;

body {
  // background-color: $color-background;
  // background-image: url('../public/bakcpng-1.png');
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1.6rem;
  color: $color-text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }

#root {
  background-image: url('./assets/images/main-background.png');
  background-color: $color-background;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-size: cover;
}
